# Eclipse stuff
/.classpath
/.project
/.settings
/.factorypath

# netbeans
/nbproject
/nbactions.xml
/nb-configuration.xml

# we use maven!
/build.xml

# maven
.gradle

# vim
.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/manifest.mf

# Mac filesystem dust
/.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/

# other files
*.csv
*.jar
*.log
*.rg
*.srg
*.txt
